<section>
  <div class="mx-auto max-w-7xl px-8 py-12 lg:pt-24">
    <div class="mx-auto max-w-xl">
      <div>
        <div class="md:flex md:items-center md:justify-between md:space-x-5">
          <div class="flex items-center space-x-5">
            <div class="flex-shrink-0">
              <div class="relative">
                <img
                  class="h-16 w-16 lg:h-24 lg:w-24 rounded-full border border-white/10"
                  src="/images/avatar.jpg"
                  alt="image"
                />
                <span
                  class="absolute inset-0 rounded-full shadow-inner"
                  aria-hidden="true"></span>
              </div>
            </div>

            <div class="pt-1.5">
              <h1 class="lg:text-xl text-black dark:text-white">
                ✺ Jason Milad
              </h1>
              <p class="text-sm font-light text-neutral-500">
                Software Engineering Student at the University of Waterloo
              </p>
              <p>
                <a
                  class="text-xs underline hover:no-underline duration-200 dark:text-white"
                  href="#">jasonmilad.xyz</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="mt-24 text-sm font-light">
          <p class="text-black dark:text-white">About</p>
          <div class="text-neutral-500 dark:text-neutral-400 space-y-3 mt-3">
            <p>
              Experienced software developer with a diverse skill set in Ruby on Rails, C++, JavaScript, Python, and more. Currently contributing to innovative projects as a Software Developer at Lawbrokr.
            </p>
            <p>
              Strong problem-solving abilities and a track record of delivering high-quality work. Passionate about leveraging technology to create impactful solutions.
            </p>
            <p>
              Pursuing a Bachelor of Software Engineering at the University of Waterloo.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
